@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

// COLORS
$primary-color: #cdde1c;
$secondary-color: #f9fbe3;
$third-color: #393e06;
$background-color: #f1f1f1;
$white-color: #ffffff;
$black-color: #1e1e1e;
$grey-color: #ababab;

// FONTS
$primary-font: 'Roboto', sans-serif;

// PADDINGS
$general-padding: 15px;

// BORDERS
$border-radius: 3px;

// MIXIN
@mixin flex($flexDirection, $justify, $align, $width: 100%) {
    width: $width;
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justify;
    align-items: $align;
}

@mixin image-responsive() {
    width: 100%;
    height: auto;
}